.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.loading-spinner {
    color: var(--primary-color);
    width: 40px;
    height: 40px;
}
