<h3>ChildComponent</h3>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter] // Esta funcion nos va a llegar como parametro
    public EventCallback<int> SetCurrentCount { get; set; }

    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        SetCurrentCount.InvokeAsync(currentCount);
    }
}
