<div class="top-bar content-fluid">
    <SoftlandLogo />
    <div class="nav-links-desktop">
        <NavLinks />
    </div>
</div>
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />
<div class="nav-links-mobile">
    <NavLinks />
</div>




