<h3 class="mb-3">Contador: @CurrentCount</h3>


<button class="btn btn-primary" @onclick="IncrementarContador">Incrementar desde el componente Child</button>

@code {
	[Parameter]
	public int CurrentCount { get; set; } = 0;

	private void IncrementarContador()
	{
		CurrentCount++;
	}
}