@page "/"
@rendermode InteractiveServer

<PageTitle>Razor lifecycle</PageTitle>

<h1 class="mb-5">Razor lifecycle</h1>
<ChildComponent CurrentCount="@ParentCount" />
<button class="btn btn-primary" @onclick="IncrementarContador">Incrementar (Parent)</button>

@code {
	public int ParentCount { get; set; } = 0;

	private void IncrementarContador()
	{
		ParentCount++;
	}
}