@page "/"

<h3>Glosario</h3>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="life-cycle">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Life Cycle Blazor
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="event-callback">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Event Callback 
    </NavLink>
    <p style="max-width: 500px;">Es como pasamos funciones a componentes hijos por parámetro.</p>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="parameters">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Pasar parámetros a los componentes
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="reference">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Referenciar componente
    </NavLink>
    <p style="max-width: 500px;">Para poder usar sus parametros y propiedades.</p>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="render-fragment">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Render Fragments
    </NavLink>
    <p style="max-width: 500px;">Es un tipo de parámetro que permite pasar contenido (HTML, componentes o texto) de un componente padre a un componente hijo de forma dinámica.</p>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link px-0" href="templated-components">
        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Templated Components
    </NavLink>
    <p style="max-width: 500px;">Es un tipo de parámetro que permite pasar contenido (HTML, componentes o texto) de un componente padre a un componente hijo de forma dinámica.</p>
</div>


@code {

}
