@page "/render-fragment"

<h3 class="mb-5">RenderFragment</h3>

<Field Label="Name">
    <Control>
        <input class="input" type="email" placeholder="Name" />
    </Control>
</Field>

<Field Label="Title">
    <Control>
        <input class="input" type="email" placeholder="Title" />
    </Control>
</Field>

<Field Label="Department">
    <Control>
        <input class="input" type="email" placeholder="Department" />
    </Control>
</Field>

@code {

}
