@page "/templated-components"
@using BlazorLinq.Components.TemplatedComponents
@rendermode InteractiveServer

@* Podriamos reemplazar el parametro Items con listas de otros objetos porque es flexible *@
<GridAutoComponent Items="courses" CSSClass="table table-striped table-bordered table-hover table-responsive" ColumnsToExcludeCSV="Id" />


<RepeaterComponent Items="employees" @ref="repeater">
    <Header>
        <h2>Employee</h2>
    </Header>
    <Row Context="employee">
        <div>
            <b>@employee.Name</b>
            &nbsp;
            <button class="btn btn-light" @onclick="@(() => { EditEmployee(employee); })">
                Edit
            </button>
        </div>
        <div class="ml-5">@employee.Title</div>
        <div class="ml-5">@employee.Department</div>
        <br />
    </Row>
    <EditTemplate Context="currentEmployee">
        <div style="max-width: 300px;">
            <div>
                <text>Employee Name:</text>
                <input class="form-control" @bind-value="currentEmployee.Name" />
            </div>
            <div>
                <text>Employee Title:</text>
                <input class="form-control" @bind-value="currentEmployee.Title" />
            </div>
            <div>
                <text>Employee Department:</text>
                <input class="form-control" @bind-value="currentEmployee.Department" />
            </div>
        </div>
    </EditTemplate>
</RepeaterComponent>

@code {
    private RepeaterComponent<Employee> repeater;
    private List<Employee> employees;
    private List<Course> courses;
    private Employee currentEmployee;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        employees = new List<Employee>();
        employees.AddRange(new Employee[2] {
            new Employee { Id = 1, Name = "John Doe", Title = "Developer", Department = "Dev" },
            new Employee { Id = 2, Name = "Jane Doe", Title = "Developer", Department = "Dev" },
    });
        courses = new List<Course>();
        courses.AddRange(new Course[2] {
            new Course { Id = 1, Description = "Curso de C#", HoursLength = 4},
            new Course { Id = 2, Description = "Curso de Js", HoursLength = 9},
    });
    }

    private void EditEmployee(Employee employee)
    {
        repeater.ItemToEdit = employee;
    }

    public class Employee
    {
        public int Id { get; set; }
        public required string Name { get; set; }
        public required string Title { get; set; }
        public required string Department { get; set; }
    }

    public class Course
    {
        public int Id { get; set; }
        public required string Description { get; set; }
        public int HoursLength { get; set; }
    }
}
